swagger: "2.0"

info:
  version: 3.0.0
  title: "Olympics API (v3)"
  description: Olympics API v3 Design

host: olympics.api.pressassociaton.io

securityDefinitions:
  apikey:
    type: apiKey
    name: apikey
    in: header
    
schemes:
  - https
  - http
  
produces:
  - application/json
  
paths:

  #
  # Games Resource
  # 

  /games:
    get:
      tags:
        - Games
      description: List all available games.
      operationId: listGames
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/limit'
      responses:
        200:
          description: Games Collection
          schema:
            type: object
          examples:
            application/json: {
                        total: 4,
                        item: [{
                            code: 'OWG2018',
                            description: 'PyeongChang 2018 Olympics Winter Games'
                          },
                          {
                            code: 'PWG2018',
                            description: 'PyeongChang 2018 Paralympic Winter Games'
                          },
                          {
                            code: 'CG2018',
                            description: 'Gold Coast 2018 Commonwealth Games'
                          },
                          {
                            code: 'OCOG2020',
                            description: 'Tokyo 2020 Olympic Games'
                          }
                        ]
                      }
            
  
  /games/{games}:
    get:
      tags:
        - Games
      description: Returns a game based on the games code.
      operationId: getGamesByCode
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
      responses:
        200:
          description: Games Detail
          schema:
            type: object
          examples:
            application/json: {
                code: 'OCOG2020',
                description: 'Tokyo 2020 Olympic Games'
              }
   
  #
  # Discipline Resource
  # 
            
  /games/{games}/discipline:
    get:
      tags:
        - Discipline
      description: Returns a list of disciplines for a games.
      operationId: listDisciplinesByGames
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/limit'
      responses:
        200:
          description: Discipline Collection
          schema:
            type: object
          examples:
            application/json: {
                        total: 3,
                        item: [{
                            code: 'ALP',
                            description: 'Alpine Skiing'
                          },
                          {
                            code: 'ART',
                            description: 'Cultural Olympiad'
                          },
                          {
                            code: 'BOB',
                            description: 'Bobsleigh'
                          }
                        ]
                      }            

  /games/{games}/discipline/{discipline}:
    get:
      tags:
        - Discipline
      description: Returns the detail of a discipline for a games.
      operationId: listDisciplinesByGames
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: discipline
      responses:
        200:
          description: Discipline Detail
          schema:
            type: object
          examples:
            application/json: {
                code: 'BOB',
                description: 'Bobsleigh',
                sport: {
                  code: "BS",
                  description: "Bobsleigh"
                },
                games: {
                  code: 'OWG2018',
                  description: 'PyeongChang  2018 Olympics Winter Games'
                },
                meta: {
                  scheduled: true,
                  nonSport: true
                }
              }  

  #
  # Organisation Collections
  # 

  /games/{games}/organisation:
    get:
      tags:
        - Organisation
      description: Returns a list of countries for a games.
      operationId: listOrganisationByGames
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
      responses:
        200:
          description: Organisation Collection
          schema:
            type: object
          examples:
            application/json: {
                        total: 2,
                        item: [{
                            code: 'GBR',
                            description: 'Great Britain'
                          },
                          {
                            code: 'ALG',
                            description: 'Algeria'
                          }
                        ]
                      }           

  /games/{games}/organisation/{organisation}:
    get:
      tags:
        - Organisation
      description: Returns the detail of a organisation for a games.
      operationId: listOrganityposationByGames
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: organisation
      responses:
        200:
          description: Organisation Detail
          schema:
            type: object
          examples:
            application/json: {
              code: 'GBR',
              description: 'Great Britain',
            }  

  #
  # Unit Collections
  # 

  /games/{games}/unit:
    get:
      tags:
        - Unit
      description: Returns a list of units.
      operationId: listUnits
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/baseDate'
          name: start          
        - $ref: '#/parameters/baseDate'
          name: end
        - $ref: '#/parameters/code'
          name: discipline
          in: query
          required: false
        - $ref: '#/parameters/code'
          name: organisation
          in: query
          required: false
        - $ref: '#/parameters/limit'  
      responses:
        200:
          description: Unit Collection, we need to add schedule helpers to look up by single day. Start list for head to head events needs adding.
          schema:
            type: object
          examples:
            application/json: {
                        total: 4,
                        item: [{
                          "code": "SBDMBA-------------------------100",
                          "description": "Ladies' Downhill Run 1",
                          "shortDescription": "Run 1",
                          "start": "2016-11-25T09:45:00Z",
                          "end": "2016-11-26T14:20:00Z",
                          "meta": {
                            "medal": "none"
                          },
                          "type": {
                            "code": "ATH",
                            "description": "Individuals"
                          },
                          "scheduleStatus": {
                            "code": "DELAYED",
                            "description": "Delayed",
                            "notes": "Competition has not started and start is late (no new time)"
                          },
                          "phaseType": {
                            "code": "0",
                            "description": "Technical Meeting"
                          },
                          "venue": {
                            "code": "ASJ",
                            "description": "Alpensia Ski Jumping Ctr",
                            "city": "Gangneung"
                          },
                          "games": {
                            "code": "OWG2018",
                            "description": "Pyongyang 2018 Olympics Winter Games"
                          },
                          "discipline": {
                            "code": "ALP",
                            "description": "Alpine Skiing"
                          },
                          "event": {
                            "code": "ALPWDH------09110-----",
                            "description": "Women's Downhill, Standing",
                            "meta": {
                              "teamEvent": true
                            }
                          },
                          "gender": {
                            "code": "M",
                            "description": "Male"
                          },
                          "phase": {
                            "code": "ALPMAC----------------FNL-",
                            "description": "Men's Alpine Combined"
                          },
                          "entrant": [
                              {
                                  "startOrder": 2,
                                  "sortOrder": 2,
                                  "competitor": {
                                      "code": "CURXTEAM2---DEN01",
                                      "description": "Denmark",
                                      "type": "T",
                                      "organisation": {
                                          "code": "DEN",
                                          "description": "Denmark"
                                      }
                                  }
                              },
                              {
                                  "startOrder": 1,
                                  "sortOrder": 1,
                                  "competitor": {
                                      "code": "CURXTEAM2---BEL01",
                                      "description": "Belgium",
                                      "type": "T",
                                      "organisation": {
                                          "code": "BEL",
                                          "description": "Belgium"
                                      }
                                  }
                              }
                          ],
                          "link": [{
                              "rel": "self",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/SBDMBA----------------------------"
                            },
                            {
                              "rel": "result",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/SBDMBA----------------------------/result"
                            },
                            {
                              "rel": "phase",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA--------------------"
                            },
                            {
                              "rel": "phase-result",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA--------------------/result"
                            }
                          ]
                        },
                        {
                          "code": "BTH----------------------------200",
                          "description": "Men's 7.5km - Standing",
                          "shortDescription": "Men's 7.5km",
                          "start": "2016-11-26T10:45:00Z",
                          "end": "2016-11-27T13:20:00Z",
                          "meta": {
                            "medal": "none"
                          },
                          "type": {
                            "code": "ATH",
                            "description": "Individuals"
                          },
                          "scheduleStatus": {
                            "code": "SCHEDULED",
                            "description": "Scheduled",
                            "notes": "Competition has not started and start is late (no new time)"
                          },
                          "phaseType": {
                            "code": "3",
                            "description": "Competition"
                          },
                          "venue": {
                            "code": "ABT",
                            "description": "Alpensia Biathlon Centre",
                            "city": "PyeongChang"
                          },
                          "games": {
                            "code": "OWG2018",
                            "description": "Pyongyang 2018 Olympics Winter Games"
                          },
                          "discipline": {
                            "code": "BTH",
                            "description": "Biathlon"
                          },
                          "event": {
                            "code": "7.5KM---09070-----",
                            "description": "Men's 7.5km - Standing"
                          },
                          "gender": {
                            "code": "M",
                            "description": "Male"
                          },
                          "phase": {
                            "code": "BTHM----------------------",
                            "description": "Men's Biathlon"
                          },
                          "link": [
                            {
                              "rel": "self",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/BTH-------------------------------"
                            },
                            {
                              "rel": "result",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/BTH-------------------------------/result"
                            },
                            {
                              "rel": "phase",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/BTH-----------------------"
                            },
                            {
                              "rel": "phase-result",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/BTH-----------------------/result"
                            }
                          ]
                        },
                        {
                          "code": "FSK----------------------------300",
                          "description": "Pair Skating",
                          "shortDescription": "Pair Skating",
                          "start": "2016-11-26T09:45:00Z",
                          "end": "2016-11-27T14:20:00Z",
                          "meta": {
                            "medal": "gold"
                          },
                          "type": {
                            "code": "ATH",
                            "description": "Individuals"
                          },
                          "scheduleStatus": {
                            "code": "FINISHED",
                            "description": "Finished",
                            "notes": "All play is complete in the unit"
                          },
                          "phaseType": {
                            "code": "3",
                            "description": "Competition"
                          },
                          "venue": {
                            "code": "GIA",
                            "description": "Gangneung Ice Arena",
                            "city": "PyeongChang"
                          },
                          "games": {
                            "code": "OWG2018",
                            "description": "Pyongyang 2018 Olympics Winter Games"
                          },
                          "discipline": {
                            "code": "FSK",
                            "description": "Figure Skating"
                          },
                          "event": {
                            "code": "PAIRS-------------",
                            "description": "Pair Skating"
                          },
                          "gender": {
                            "code": "X",
                            "description": "Mixed"
                          },
                          "phase": {
                            "code": "FSKXPAIRS-------------FNL-",
                            "description": "Pair Skating"
                          },
                          "link": [
                            {
                              "rel": "self",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/FSK-------------------------------"
                            },
                            {
                              "rel": "result",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/FSK-------------------------------/result"
                            },
                            {
                              "rel": "phase",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/FSK-----------------------"
                            },
                            {
                              "rel": "phase-result",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/FSK-----------------------/result"
                            }
                          ]
                        },
                        {
                          "code": "FSK----------------------------400",
                          "description": "Pair Skating",
                          "shortDescription": "Pair Skating",
                          "start": "2016-11-26T14:45:00Z",
                          "end": "2016-11-27T16:20:00Z",
                          "meta": {
                            "medal": "bronze"
                          },
                          "type": {
                            "code": "ATH",
                            "description": "Individuals"
                          },
                          "scheduleStatus": {
                            "code": "RUNNING",
                            "description": "Running",
                            "notes": "Competition in progress"
                          },
                          "phaseType": {
                            "code": "3",
                            "description": "Competition"
                          },
                          "venue": {
                            "code": "GIA",
                            "description": "Gangneung Ice Arena",
                            "city": "Gangneung"
                          },
                          "games": {
                            "code": "OWG2018",
                            "description": "Pyongyang 2018 Olympics Winter Games"
                          },
                          "discipline": {
                            "code": "FSK",
                            "description": "Figure Skating"
                          },
                          "event": {
                            "code": "PAIRS-------------",
                            "description": "Pair Skating"
                          },
                          "gender": {
                            "code": "X",
                            "description": "Mixed"
                          },
                          "phase": {
                            "code": "FSKXPAIRS-------------FNL-",
                            "description": "Pair Skating"
                          },
                          "entrant": [
                            {
                                "startOrder": 2,
                                "sortOrder": 2,
                                "competitor": {
                                    "code": "CURXTEAM2---DEN01",
                                    "description": "Denmark",
                                    "type": "T",
                                    "organisation": {
                                        "code": "DEN",
                                        "description": "Denmark"
                                    }
                                }
                            },
                            {
                                "startOrder": 1,
                                "sortOrder": 1,
                                "competitor": {
                                    "code": "CURXTEAM2---BEL01",
                                    "description": "Belgium",
                                    "type": "T",
                                    "organisation": {
                                        "code": "BEL",
                                        "description": "Belgium"
                                    }
                                }
                            }
                        ],
                        "link": [
                          {
                            "rel": "self",
                            "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/FSK-------------------------------"
                          },
                          {
                            "rel": "result",
                            "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/FSK-------------------------------/result"
                          },
                          {
                            "rel": "phase",
                            "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/FSK-----------------------"
                          },
                          {
                            "rel": "phase-result",
                            "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/FSK-----------------------/result"
                          }
                        ]
                      }]
                    }   

  /games/{games}/unit/{unit}:
    get:
      tags:
        - Unit
      description: Returns the detail of a unit for a games.
      operationId: getUnitByCode
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: unit
      responses:
        200:
          description: Unit Detail
          schema:
            type: object
          examples:
            application/json: {
              "code": "SBDMBA----------------------------",
              "description": "Ladies' Downhill Run 1",
              "shortDescription": "Run 1",
              "start": "2016-11-25T09:45:00Z",
              "end": "2016-11-26T14:20:00Z",
              "meta": {
                "medal": "none"
              },
              "type": {
                "code": "ATH",
                "description": "Individuals"
              },
              "scheduleStatus": {
                "code": "SCHEDULED",
                "description": "Delayed",
                "notes": "Competition has not started and start is late (no new time)"
              },
              "phaseType": {
                "code": "0",
                "description": "Technical Meeting"
              },
              "venue": {
                "code": "ASJ",
                "description": "Alpensia Ski Jumping Ctr",
                "city": "PyeongChang"
              },
              "games": {
                "code": "OWG2018",
                "description": "Pyongyang 2018 Olympics Winter Games"
              },
              "discipline": {
                "code": "ALP",
                "description": "Alpine Skiing"
              },
              "event": {
                "code": "ALPWDH------09110-----",
                "description": "Women's Downhill, Standing",
                "meta": {
                  "teamEvent": true
                }
              },
              "gender": {
                "code": "M",
                "description": "Male"
              },
              "phase": {
                "code": "ALPMAC----------------FNL-",
                "description": "Men's Alpine Combined"
              },
              "entrant": [
                  {
                      "startOrder": 2,
                      "sortOrder": 2,
                      "competitor": {
                          "code": "CURXTEAM2---DEN01",
                          "description": "Denmark",
                          "type": "T",
                          "organisation": {
                              "code": "DEN",
                              "description": "Denmark"
                          }
                      }
                  },
                  {
                      "startOrder": 1,
                      "sortOrder": 1,
                      "competitor": {
                          "code": "CURXTEAM2---BEL01",
                          "description": "Belgium",
                          "type": "T",
                          "organisation": {
                              "code": "BEL",
                              "description": "Belgium"
                          }
                      }
                  }
              ],
              "link": [
                {
                  "rel": "self",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/SBDMBA----------------------------"
                },
                {
                  "rel": "result",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/SBDMBA----------------------------/result"
                },
                {
                  "rel": "phase",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA--------------------"
                },
                {
                  "rel": "phase-result",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA--------------------/result"
                }
              ]
            }  

  /games/{games}/unit/{unit}/result:
    get:
      tags:
        - Unit
      description: Returns the Results for a unit. 
      operationId: getUnitResults
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: unit
      responses:
        200:
          description: Unit Results Detail
          schema:
            type: object
          examples:
            application/json: {
                      "code": "SBDMBA----------------------------",
                      "description": "Ladies' Downhill Run 1",
                      "shortDescription": "Run 1",
                      "start": "2016-11-25T09:45:00Z",
                      "end": "2016-11-26T14:20:00Z",
                      "meta": {
                        "medal": "none"
                      },
                      "resultStatus":{
                        "code": "LIVE",
                        "description": "Live"
                      },
                      "type": {
                        "code": "ATH",
                        "description": "Individuals"
                      },
                      "scheduleStatus": {
                        "code": "SCHEDULED",
                        "description": "Delayed",
                        "notes": "Competition has not started and start is late (no new time)"
                      },
                      "phaseType": {
                        "code": "0",
                        "description": "Technical Meeting"
                      },
                      "venue": {
                        "code": "ASJ",
                        "description": "Alpensia Ski Jumping Ctr",
                        "city": "PyeongChang"
                      },
                      "games": {
                        "code": "OWG2018",
                        "description": "Pyongyang 2018 Olympics Winter Games"
                      },
                      "discipline": {
                        "code": "ALP",
                        "description": "Alpine Skiing"
                      },
                      "event": {
                        "code": "ALPWDH------09110-----",
                        "description": "Women's Downhill, Standing",
                        "meta": {
                          "teamEvent": true
                        }
                      },
                      "gender": {
                        "code": "M",
                        "description": "Male"
                      },
                      "phase": {
                        "code": "ALPMAC----------------FNL-",
                        "description": "Men's Alpine Combined"
                      },
                      "result": [
                        {
                          "rank": 1,
                          "value": "50.53",
                          "valueType": "TIME",
                          "sortOrder": 1,
                          "startOrder": 1,
                          "startSortOrder": 1,
                          "diff": "0.00",
                          "invalidResultMark": {
                            "code": "DSQ",
                            "description": "Disqualified"
                          },
                          "qualificationMark": {
                            "code": "QT",
                            "description": "Qualified by Time"
                          },
                          "wonLostTied": {
                            "code": "T",
                            "description": "Team / Athlete tied"
                          },
                          "meta": {
                            "unchecked": true,
                            "rankEqual": ""
                          },
                          "competitor": {
                            "code": "BOBOTEAM4------USA01",
                            "type": "T",
                            "bib": "12",
                            "organisation": {
                              "code": "USA",
                              "description": "USA"
                            },
                            "team": {
                              "name": "USA"
                            },
                            "athlete": {
                              "givenName": "",
                              "familyName": "",
                              "dob": "",
                              "meta": {
                                "class": ""
                              },
                              "gender": {
                                "code": "M",
                                "description": "Male"
                              },
                              "organisation": {
                                "code": "USA",
                                "description": "USA"
                              }
                            }
                          }
                        }
                      ]
                    }

  #
  # Event Collections
  # 

  /games/{games}/event/{event}:
    get:
      tags:
        - Event
      description: Returns the detail of a Event for a games.
      operationId: getEventByCode
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: event
      responses:
        200:
          description: Event Detail
          schema:
            type: object
          examples:
            application/json: {
                code: 'ALPMDH----------------',
                description: "Men's Downhill",
                discipline: {
                  code: 'ALP',
                  description: 'Alpine Skiing'
                },
                gender: {
                  code: 'M',
                  description: 'Men'
                },
                meta: {
                  teamEvent: false
                },
                link: [
                  {
                    rel: "self",
                    href: "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------"
                  },
                  {
                    rel: "event-result",
                    href: "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/result"
                  }
                ]
            }

  /games/{games}/event/{event}/result:
    get:
      tags:
        - Event
      description: Returns the Results for a Event.
      operationId: getEventResults
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: event
      responses:
        200:
          description: Event Results Detail
          schema:
            type: object
          examples:
            application/json: {
                        "code": "'ALPMDH----------------",
                        "description": "Men's Downhill",
                        "discipline": {
                          "code": "ALP",
                          "description": "Alpine Skiing"
                        },
                        "gender": {
                          "code": "M",
                          "description": "Men"
                        },
                        "meta": {
                          "teamEvent": false
                        },
                        "result": [
                          {
                              "rank": 1,
                              "value": "50.53",
                              "valueType": "TIME",
                              "sortOrder": 1,
                              "startOrder": 1,
                              "startSortOrder": 1,
                              "diff": "0.00",
                              "invalidResultMark": {
                                "code": "DSQ",
                                "description": "Disqualified"
                              },
                              "qualificationMark": {
                                "code": "QT",
                                "description": "Qualified by Time"
                              },
                              "wonLostTied": {
                                "code": "T",
                                "description": "Team / Athlete tied"
                              },
                              "meta": {
                                "won": 1,
                                "lost": 3,
                                "tied": 2,
                                "played": 6,
                                "for": 21,
                                "against": 12,
                                "ratio": 2,
                                "unchecked": true,
                                "rankEqual": ""
                              },
                              "competitor": {
                                "code": "BOBOTEAM4------USA01",
                                "type": "T",
                                "bib": "12",
                                "organisation": {
                                  "code": "USA",
                                  "description": "USA"
                                },
                                "team": {
                                  "name": "USA"
                                },
                                "athlete": {
                                  "givenName": "",
                                  "familyName": "",
                                  "dob": "",
                                  "meta": {
                                    "class": "",
                                    "horse": ""
                                  },
                                  "guide": {
                                    "id": "",
                                    "familyName": "",
                                    "givenName": ""
                                  },
                                  "gender": {
                                    "code": "M",
                                    "description": "Male"
                                  },
                                  "organisation": {
                                    "code": "USA",
                                    "description": "USA"
                                  }
                                }
                              }
                            }
                        ],
                        link: [
                          {
                            rel: "self",
                            href: "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/result"
                          },
                          {
                            rel: "event-result",
                            href: "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------"
                          }
                        ]
                    } 

  #
  # Phase Collections
  #
  /games/{games}/phase/{phase}:
    get:
      tags:
        - Phase
      description: Returns the detail of a Phase for a games.
      operationId: getPhaseByCode
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: phase
      responses:
        200:
          description: Phase Detail
          schema:
            type: object
          examples:
            application/json: {
                      "code": "ALPMAC----------------FNL-",
                      "description": "Men's Alpine Combined",
                      "type": {
                        "code": "0",
                        "description": "Technical Meeting"
                      },
                      "games": {
                        "code": "OWG2018",
                        "description": "Pyongyang 2018 Olympics Winter Games"
                      },
                      "discipline": {
                        "code": "ALP",
                        "description": "Alpine Skiing"
                      },
                      "event": {
                        "code": "ALPWDH------09110-----",
                        "description": "Women's Downhill, Standing",
                        "meta": {
                          "teamEvent": true
                        }
                      },
                      "gender": {
                        "code": "M",
                        "description": "Male"
                      },          
                      "link": [
                        {
                          "rel": "self",
                          "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA--------------------"
                        },
                        {
                          "rel": "phase-result",
                          "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA--------------------/result"
                        }
                      ]
                    } 

  /games/{games}/phase/{phase}/result:
    get:
      tags:
        - Phase
      description: Returns the Phase for a Event.
      operationId: getPhaseResults
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: phase
      responses:
        200:
          description: Event Phase Result Detail
          schema:
            type: object
          examples:
            application/json: {
                        "code": "ALPMAC----------------FNL-",
                        "description": "Men's Alpine Combined",
                        "type": {
                          "code": "0",
                          "description": "Technical Meeting"
                        },
                        "games": {
                          "code": "OWG2018",
                          "description": "Pyongyang 2018 Olympics Winter Games"
                        },
                        "discipline": {
                          "code": "ALP",
                          "description": "Alpine Skiing"
                        },
                        "event": {
                          "code": "ALPWDH------09110-----",
                          "description": "Women's Downhill, Standing",
                          "meta": {
                            "teamEvent": true
                          }
                        },
                        "gender": {
                          "code": "M",
                          "description": "Male"
                        },
                        "result": [{
                          "rank": 1,
                          "sortOrder": 1,
                          "startOrder": 1,
                          "startSortOrder": 1,
                          "diff": "0.00",
                          "value": "50.53",
                          "valueType": {
                            "code": "TIME",
                            "description": "Time"
                          },
                          "invalidResultMark": {
                            "code": "DSQ",
                            "description": "Disqualified"
                          },
                          "qualificationMark": {
                            "code": "QT",
                            "description": "Qualified by Time"
                          },
                          "wonLostTied": {
                            "code": "T",
                            "description": "Team / Athlete tied"
                          },
                          "meta": {
                            "unchecked": true,
                            "rankEqual": false
                          },
                          "competitor": {
                            "code": "BOBOTEAM4------USA01",
                            "type": "T",
                            "bib": "12",
                            "organisation": {
                              "code": "USA",
                              "description": "USA"
                            },
                            "team": {
                              "name": "USA"
                            },
                            "athlete": [{
                              "givenName": "",
                              "familyName": "",
                              "dob": "",
                              "meta": {
                                "class": ""
                              },
                              "gender": {
                                "code": "M",
                                "description": "Male"
                              },
                              "organisation": {
                                "code": "USA",
                                "description": "USA"
                              }
                            }]
                          }
                        }],          
                        "link": [
                          {
                            "rel": "self",
                            "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA--------------------/result"
                          },
                          {
                            "rel": "phase",
                            "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA--------------------"
                          }
                        ]
                      } 
                      
  #
  # Medal Table Collections
  # 

  /games/{games}/medal-table:
    get:
      tags:
        - Medal Table
      description: Returns a Medal Table
      operationId: getMedalTable
      security:
        - apikey: []
      parameters:
        - $ref: '#/parameters/code'
          name: games
      responses:
        200:
          description: Medal Table
          schema:
            type: object
          examples:
            application/json: {
                              	"total": 220,
                              	"item": [{
                              			"organisation": {
                              				"code": "USA",
                              				"description": "United States"
                              			},
                              			"medals": {
                              				"gold": 2,
                              				"silver": 1,
                              				"bronze": 0,
                              				"total": 3
                              			},
                              			"rank": 1
                              		},
                              		{
                              			"organisation": {
                              				"code": "AUT",
                              				"description": "Austria"
                              			},
                              			"medals": {
                              				"gold": 1,
                              				"silver": 0,
                              				"bronze": 1,
                              				"total": 2
                              			},
                              			"rank": 2
                              		},
                              		{
                              			"organisation": {
                              				"code": "FIN",
                              				"description": "Finland"
                              			},
                              			"medals": {
                              				"gold": 1,
                              				"silver": 0,
                              				"bronze": 1,
                              				"total": 2
                              			},
                              			"rank": 2
                              		},
                              		{
                              			"organisation": {
                              				"code": "KOR",
                              				"description": "Republic of Korea"
                              			},
                              			"medals": {
                              				"gold": 1,
                              				"silver": 0,
                              				"bronze": 1,
                              				"total": 2
                              			},
                              			"rank": 2
                              		},
                              		{
                              			"organisation": {
                              				"code": "NOR",
                              				"description": "Norway"
                              			},
                              			"medals": {
                              				"gold": 1,
                              				"silver": 0,
                              				"bronze": 0,
                              				"total": 1
                              			},
                              			"rank": 5
                              		},
                              		{
                              			"organisation": {
                              				"code": "POL",
                              				"description": "Poland"
                              			},
                              			"medals": {
                              				"gold": 1,
                              				"silver": 0,
                              				"bronze": 0,
                              				"total": 1
                              			},
                              			"rank": 5
                              		},
                              		{
                              			"organisation": {
                              				"code": "GER",
                              				"description": "Germany"
                              			},
                              			"medals": {
                              				"gold": 0,
                              				"silver": 2,
                              				"bronze": 0,
                              				"total": 2
                              			},
                              			"rank": 7
                              		},
                              		{
                              			"organisation": {
                              				"code": "CAN",
                              				"description": "Canada"
                              			},
                              			"medals": {
                              				"gold": 0,
                              				"silver": 1,
                              				"bronze": 1,
                              				"total": 2
                              			},
                              			"rank": 8
                              		},
                              		{
                              			"organisation": {
                              				"code": "ITA",
                              				"description": "Italy"
                              			},
                              			"medals": {
                              				"gold": 0,
                              				"silver": 1,
                              				"bronze": 0,
                              				"total": 1
                              			},
                              			"rank": 9
                              		},
                              		{
                              			"organisation": {
                              				"code": "JPN",
                              				"description": "Japan"
                              			},
                              			"medals": {
                              				"gold": 0,
                              				"silver": 1,
                              				"bronze": 0,
                              				"total": 1
                              			},
                              			"rank": 9
                              		}
                              	]
                              }

parameters:

  code:
    name: code
    in: path
    description: Code of query entity
    required: true
    type: string

  status:
    name: status
    in: query
    description: The status of a unit
    required: false
    type: string

  type:
    name: type
    in: query
    description: The type of a unit
    required: false
    type: string

  gender:
    name: gender
    in: query
    description: The gender of a unit
    required: false
    type: string

  limit:
    name: limit
    in: query
    required: false
    type: integer
    format: int32
    default: 100
    x-example: 5
    description: >-
      Limit the the number of items to be returned per page.
      The 'limit' parameter is typically used with the 'offset' parameter to facilitate pagination.

  baseDate:
    name: baseDate
    in: query
    required: false
    type: string
    format: 'date-time'
    x-example: 2014-04-17
    description: >-
      Limit the entities to ones within the specified range.
      The 'end' parameter is typically used in combination with the 'start' param to form a date range.

      Formats Supported:
        - 'YYYY-MM-DD'
        - 'YYYY-MM-DD[T]HH:mm:ssZ'
        - 'YYYY-MM-DD[T]HH:mm:ss.SSSZ'
        - 'YYYY-MM-DD[T]HH:mm:ss'
        - 'YYYY-MM-DD[T]HH:mm'
        - 'now'
        - 'today'
        - 'tomorrow'
        - 'now.plus.n'
        - 'now.minus.n'