swagger: "2.0"

info:
  version: 3.0.0
  title: "Olympics API (v3)"
  description: Olympics API v3 Design

host: olympics.api.pressassociaton.io

schemes:
  - http
  
produces:
  - application/json
  
paths:

  #
  # Games Resource
  # 

  /games:
    get:
      tags:
        - Games
      description: List all available games.
      operationId: listGames
      parameters:
        - $ref: '#/parameters/limit'
      responses:
        200:
          description: Games Collection
          schema:
            type: array
            example: {
                        total: 4,
                        items: [{
                            code: 'OWG2018',
                            description: 'PyeongChang 2018 Olympics Winter Games'
                          },
                          {
                            code: 'PWG2018',
                            description: 'PyeongChang 2018 Paralympic Winter Games'
                          },
                          {
                            code: 'CG2018',
                            description: 'Gold Coast 2018 Commonwealth Games'
                          },
                          {
                            code: 'OCOG2020',
                            description: 'Tokyo 2020 Olympic Games'
                          }
                        ]
                      }
            
  
  /games/{games}:
    get:
      tags:
        - Games
      description: Returns a game based on the games code.
      operationId: getGamesByCode
      parameters:
        - $ref: '#/parameters/code'
          name: games
      responses:
        200:
          description: Games Detail
          schema:
            example: {
                code: 'OCOG2020',
                description: 'Tokyo 2020 Olympic Games'
              }
   
  #
  # Discipline Resource
  # 
            
  /games/{games}/discipline:
    get:
      tags:
        - Discipline
      description: Returns a list of disciplines for a games.
      operationId: listDisciplinesByGames
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/limit'
      responses:
        200:
          description: Discipline Collection
          schema:
            type: array
            example: {
                        total: 3,
                        items: [{
                            code: 'ALP',
                            description: 'Alpine Skiing'
                          },
                          {
                            code: 'ART',
                            description: 'Cultural Olympiad'
                          },
                          {
                            code: 'BOB',
                            description: 'Bobsleigh'
                          }
                        ]
                      }            

  /games/{games}/discipline/{discipline}:
    get:
      tags:
        - Discipline
      description: Returns the detail of a discipline for a games.
      operationId: listDisciplinesByGames
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: discipline
      responses:
        200:
          description: Discipline Detail
          schema:
            example: {
                code: 'BOB',
                description: 'Bobsleigh',
                eventOrder: 'DATE',
                sport: {
                  code: "BS",
                  description: "Bobsleigh"
                },
                games: {
                  code: 'OWG2018',
                  description: 'PyeongChang  2018 Olympics Winter Games'
                },
                meta: {
                  scheduled: true,
                  nonSport: true
                }
              }  

  #
  # Organisation Collections
  # 

  /games/{games}/organisation:
    get:
      tags:
        - Organisation
      description: Returns a list of countries for a games.
      operationId: listOrganisationByGames
      parameters:
        - $ref: '#/parameters/code'
          name: games
      responses:
        200:
          description: Organisation Collection
          schema:
            type: array
            example: {
                        total: 2,
                        items: [{
                            code: 'GBR',
                            description: 'Great Britain'
                          },
                          {
                            code: 'ALG',
                            description: 'Algeria'
                          }
                        ]
                      }           

  /games/{games}/organisation/{organisation}:
    get:
      tags:
        - Organisation
      description: Returns the detail of a organisation for a games.
      operationId: listOrganityposationByGames
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: organisation
      responses:
        200:
          description: Organisation Detail
          schema:
            example: {
              code: 'GBR',
              description: 'Great Britain',
            }  

  #
  # Unit Collections
  # 

  /games/{games}/unit:
    get:
      tags:
        - Unit
      description: Returns a list of units.
      operationId: listUnits
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/baseDate'
          name: start          
        - $ref: '#/parameters/baseDate'
          name: end
        - $ref: '#/parameters/code'
          name: discipline
          in: query
          required: false
        - $ref: '#/parameters/code'
          name: event
          in: query
          required: false
        - $ref: '#/parameters/code'
          name: phase
          in: query
          required: false
        - $ref: '#/parameters/code'
          name: organisation
          in: query
          required: false
        - $ref: '#/parameters/code'
          name: venue
          in: query
          required: false
        - $ref: '#/parameters/status'
        - $ref: '#/parameters/type'
        - $ref: '#/parameters/gender'  
        - $ref: '#/parameters/baseDate'
          name: lastUpdated
        - $ref: '#/parameters/limit'  
      responses:
        200:
          description: Unit Collection, we need to add schedule helpers to look up by single day. Start list for head to head events needs adding.
          schema:
            type: array
            example: {
                        total: 1,
                        items: [{
                          "code": "SBDMBA----------------------------",
                          "description": "Ladies' Downhill Run 1",
                          "shortDescription": "Run 1",
                          "start": "2016-11-25T09:45:00Z",
                          "end": "2016-11-26T14:20:00Z",
                          "meta": {
                            "medal": "none"
                          },
                          "type": {
                            "code": "ATH",
                            "description": "Individuals"
                          },
                          "scheduleStatus": {
                            "code": "SCHEDULED",
                            "description": "Delayed"
                          },
                          "phaseType": {
                            "code": "0",
                            "description": "Technical Meeting"
                          },
                          "venue": {
                            "code": "ASJ",
                            "description": "Alpensia Ski Jumping Ctr"
                          },
                          "location": {
                            "code": "BA1",
                            "description": "Alpensia Ski Jump Ctr-Big Air"
                          },
                          "games": {
                            "code": "OWG2018",
                            "description": "Pyongyang 2018 Olympics Winter Games"
                          },
                          "discipline": {
                            "code": "ALP",
                            "description": "Alpine Skiing"
                          },
                          "event": {
                            "code": "ALPWDH------09110-----",
                            "description": "Women's Downhill, Standing",
                            "meta": {
                              "teamEvent": true
                            }
                          },
                          "gender": {
                            "code": "M",
                            "description": "Male"
                          },
                          "phase": {
                            "code": "ALPMAC----------------FNL-",
                            "description": "Men's Alpine Combined"
                          },
                          "links": [{
                              "rel": "self",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/SBDMBA----------------------------"
                            },
                            {
                              "rel": "results",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/SBDMBA----------------------------/results"
                            },
                            {
                              "rel": "phase-results",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA----------------------------/results"
                            },
                            {
                              "rel": "phase-standings",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA----------------------------/standings"
                            },
                            {
                              "rel": "event",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------"
                            },
                            {
                              "rel": "event-results",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/results"
                            },
                            {
                              "rel": "event-standings",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/brackets"
                            },
                            {
                              "rel": "event-brackets",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/brackets"
                            }
                          ]
                        }]
                      }   

  /games/{games}/unit/{unit}:
    get:
      tags:
        - Unit
      description: Returns the detail of a unit for a games.
      operationId: getUnitByCode
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: unit
      responses:
        200:
          description: Unit Detail
          schema:
            example: {
              "code": "SBDMBA----------------------------",
              "description": "Ladies' Downhill Run 1",
              "shortDescription": "Run 1",
              "start": "2016-11-25T09:45:00Z",
              "end": "2016-11-26T14:20:00Z",
              "meta": {
                "medal": "none"
              },
              "type": {
                "code": "ATH",
                "description": "Individuals"
              },
              "scheduleStatus": {
                "code": "SCHEDULED",
                "description": "Delayed"
              },
              "phaseType": {
                "code": "0",
                "description": "Technical Meeting"
              },
              "venue": {
                "code": "ASJ",
                "description": "Alpensia Ski Jumping Ctr"
              },
              "location": {
                "code": "BA1",
                "description": "Alpensia Ski Jump Ctr-Big Air"
              },
              "games": {
                "code": "OWG2018",
                "description": "Pyongyang 2018 Olympics Winter Games"
              },
              "discipline": {
                "code": "ALP",
                "description": "Alpine Skiing"
              },
              "event": {
                "code": "ALPWDH------09110-----",
                "description": "Women's Downhill, Standing",
                "meta": {
                  "teamEvent": true
                }
              },
              "gender": {
                "code": "M",
                "description": "Male"
              },
              "phase": {
                "code": "ALPMAC----------------FNL-",
                "description": "Men's Alpine Combined"
              },
              "links": [
                {
                  "rel": "self",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/SBDMBA----------------------------"
                },
                {
                  "rel": "results",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/unit/SBDMBA----------------------------/results"
                },
                {
                  "rel": "phase-results",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA----------------------------/results"
                },
                {
                  "rel": "phase-standings",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA----------------------------/standings"
                },
                {
                  "rel": "event",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------"
                },
                {
                  "rel": "event-results",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/results"
                },
                {
                  "rel": "event-standings",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/brackets"
                },
                {
                  "rel": "event-brackets",
                  "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/brackets"
                }
              ]
            }  

  /games/{games}/unit/{unit}/results:
    get:
      tags:
        - Unit
      description: Returns the Results for a unit. 
      operationId: getUnitResults
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: unit
      responses:
        200:
          description: Unit Results Detail
          schema:
            example: {
                      "code": "SBDMBA----------------------------",
                      "description": "Ladies' Downhill Run 1",
                      "shortDescription": "Run 1",
                      "start": "2016-11-25T09:45:00Z",
                      "end": "2016-11-26T14:20:00Z",
                      "meta": {
                        "medal": "none"
                      },
                      "resultStatus":{
                        "code": "LIVE",
                        "description": "Live"
                      },
                      "type": {
                        "code": "ATH",
                        "description": "Individuals"
                      },
                      "scheduleStatus": {
                        "code": "SCHEDULED",
                        "description": "Delayed"
                      },
                      "phaseType": {
                        "code": "0",
                        "description": "Technical Meeting"
                      },
                      "venue": {
                        "code": "ASJ",
                        "description": "Alpensia Ski Jumping Ctr"
                      },
                      "location": {
                        "code": "BA1",
                        "description": "Alpensia Ski Jump Ctr-Big Air"
                      },
                      "games": {
                        "code": "OWG2018",
                        "description": "Pyongyang 2018 Olympics Winter Games"
                      },
                      "discipline": {
                        "code": "ALP",
                        "description": "Alpine Skiing"
                      },
                      "event": {
                        "code": "ALPWDH------09110-----",
                        "description": "Women's Downhill, Standing",
                        "meta": {
                          "teamEvent": true
                        }
                      },
                      "gender": {
                        "code": "M",
                        "description": "Male"
                      },
                      "phase": {
                        "code": "ALPMAC----------------FNL-",
                        "description": "Men's Alpine Combined"
                      },
                      "results": [
                        {
                          "rank": 1,
                          "value": "50.53",
                          "valueType": "TIME",
                          "sortOrder": 1,
                          "startOrder": 1,
                          "startSortOrder": 1,
                          "diff": "0.00",
                          "invalidResultMark": {
                            "code": "DSQ",
                            "description": "Disqualified"
                          },
                          "qualificationMark": {
                            "code": "QT",
                            "description": "Qualified by Time"
                          },
                          "wonLostTied": {
                            "code": "T",
                            "description": "Team / Athlete tied"
                          },
                          "meta": {
                            "won": 1,
                            "lost": 3,
                            "tied": 2,
                            "played": 6,
                            "for": 21,
                            "against": 12,
                            "ratio": 2,
                            "unchecked": true,
                            "rankEqual": ""
                          },
                          "competitor": {
                            "code": "BOBOTEAM4------USA01",
                            "type": "T",
                            "bib": "12",
                            "organisation": {
                              "code": "USA",
                              "description": "USA"
                            },
                            "team": {
                              "name": "USA"
                            },
                            "athlete": {
                              "givenName": "",
                              "familyName": "",
                              "dob": "",
                              "meta": {
                                "class": "",
                                "horse": ""
                              },
                              "guide": {
                                "id": "",
                                "familyName": "",
                                "givenName": ""
                              },
                              "gender": {
                                "code": "M",
                                "description": "Male"
                              },
                              "organisation": {
                                "code": "USA",
                                "description": "USA"
                              }
                            }
                          }
                        }
                      ]
                    }

  #
  # Event Collections
  # 

  /games/{games}/event:
    get:
      tags:
        - Event
      description: Returns a list of Events.
      operationId: listEvents
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: discipline
          in: query
          required: false
        - $ref: '#/parameters/gender'  
        - $ref: '#/parameters/limit'  
      responses:
        200:
          description: Event Collection
          schema:
            type: array
            example: {
                        total: 1,
                        items: [{
                          code: 'ALPMDH----------------',
                          description: "Men's Downhill",
                          discipline: {
                            code: 'ALP',
                            description: 'Alpine Skiing'
                          },
                          gender: {
                            code: 'M',
                            description: 'Men'
                          },
                          "links": [{
                              "rel": "self",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------"
                            },
                            {
                              "rel": "event-results",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/results"
                            },
                            {
                              "rel": "event-standings",
                              "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/brackets"
                            }
                          ]
                        }]
                      }          

  /games/{games}/event/{event}:
    get:
      tags:
        - Event
      description: Returns the detail of a Event for a games.
      operationId: getEventByCode
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: event
      responses:
        200:
          description: Event Detail
          schema:
            example: {
                code: 'ALPMDH----------------',
                description: "Men's Downhill",
                discipline: {
                  code: 'ALP',
                  description: 'Alpine Skiing'
                },
                gender: {
                  code: 'M',
                  description: 'Men'
                },
                meta: {
                  teamEvent: false
                },
                "links": [
                  {
                    "rel": "self",
                    "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------"
                  },
                  {
                    "rel": "event-results",
                    "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/results"
                  },
                  {
                    "rel": "event-standings",
                    "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/brackets"
                  }
                ]
            }

  /games/{games}/event/{event}/results:
    get:
      tags:
        - Event
      description: Returns the Results for a Event.
      operationId: getEventResults
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: event
      responses:
        200:
          description: Event Results Detail
          schema:
            example: {
                        "code": "'ALPMDH----------------",
                        "description": "Men's Downhill",
                        "discipline": {
                          "code": "ALP",
                          "description": "Alpine Skiing"
                        },
                        "gender": {
                          "code": "M",
                          "description": "Men"
                        },
                        "meta": {
                          "teamEvent": false
                        },
                        "results": [
                          {
                              "rank": 1,
                              "value": "50.53",
                              "valueType": "TIME",
                              "sortOrder": 1,
                              "startOrder": 1,
                              "startSortOrder": 1,
                              "diff": "0.00",
                              "invalidResultMark": {
                                "code": "DSQ",
                                "description": "Disqualified"
                              },
                              "qualificationMark": {
                                "code": "QT",
                                "description": "Qualified by Time"
                              },
                              "wonLostTied": {
                                "code": "T",
                                "description": "Team / Athlete tied"
                              },
                              "meta": {
                                "won": 1,
                                "lost": 3,
                                "tied": 2,
                                "played": 6,
                                "for": 21,
                                "against": 12,
                                "ratio": 2,
                                "unchecked": true,
                                "rankEqual": ""
                              },
                              "competitor": {
                                "code": "BOBOTEAM4------USA01",
                                "type": "T",
                                "bib": "12",
                                "organisation": {
                                  "code": "USA",
                                  "description": "USA"
                                },
                                "team": {
                                  "name": "USA"
                                },
                                "athlete": {
                                  "givenName": "",
                                  "familyName": "",
                                  "dob": "",
                                  "meta": {
                                    "class": "",
                                    "horse": ""
                                  },
                                  "guide": {
                                    "id": "",
                                    "familyName": "",
                                    "givenName": ""
                                  },
                                  "gender": {
                                    "code": "M",
                                    "description": "Male"
                                  },
                                  "organisation": {
                                    "code": "USA",
                                    "description": "USA"
                                  }
                                }
                              }
                            }
                        ]
                    } 

  /games/{games}/event/{event}/standings:
    get:
      tags:
        - Event
      description: Returns the Standings for a Event.
      operationId: getEventStandings
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: event
      responses:
        200:
          description: Event Standings Detail
          schema:
            example: {
                      "code": "'ALPMDH----------------",
                      "description": "Men's Downhill",
                      "discipline": {
                        "code": "ALP",
                        "description": "Alpine Skiing"
                      },
                      "gender": {
                        "code": "M",
                        "description": "Men"
                      },
                      "meta": {
                        "teamEvent": false
                      },
                      "standings": [
                        {
                            "rank": 1,
                            "value": "50.53",
                            "valueType": "TIME",
                            "sortOrder": 1,
                            "startOrder": 1,
                            "startSortOrder": 1,
                            "diff": "0.00",
                            "invalidResultMark": {
                              "code": "DSQ",
                              "description": "Disqualified"
                            },
                            "qualificationMark": {
                              "code": "QT",
                              "description": "Qualified by Time"
                            },
                            "wonLostTied": {
                              "code": "T",
                              "description": "Team / Athlete tied"
                            },
                            "meta": {
                              "won": 1,
                              "lost": 3,
                              "tied": 2,
                              "played": 6,
                              "for": 21,
                              "against": 12,
                              "ratio": 2,
                              "unchecked": true,
                              "rankEqual": ""
                            },
                            "competitor": {
                              "code": "BOBOTEAM4------USA01",
                              "type": "T",
                              "bib": "12",
                              "organisation": {
                                "code": "USA",
                                "description": "USA"
                              },
                              "team": {
                                "name": "USA"
                              },
                              "athlete": {
                                "givenName": "",
                                "familyName": "",
                                "dob": "",
                                "meta": {
                                  "class": "",
                                  "horse": ""
                                },
                                "guide": {
                                  "id": "",
                                  "familyName": "",
                                  "givenName": ""
                                },
                                "gender": {
                                  "code": "M",
                                  "description": "Male"
                                },
                                "organisation": {
                                  "code": "USA",
                                  "description": "USA"
                                }
                              }
                            }
                          }
                      ]
                  }


  /games/{games}/event/{event}/brackets:
    get:
      tags:
        - Event
      description: NOT TO BE IMPLEMENTED FOR PHASE 1, Returns the Brackets for a Event.
      operationId: getEventBrackets
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: event
      responses:
        200:
          description: Event Brackets Detail
          schema:
            example: {} 

  #
  # Phase Collections
  # 

  /games/{games}/phase:
    get:
      tags:
        - Phase
      description: NOT TO BE IMPLMENTED FOR PHASE 1, Returns a list of Phases.
      operationId: listPhases
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: event
          in: query
          required: false
        - $ref: '#/parameters/limit'
      responses:
        200:
          description: Phase Collection
          schema:
            example: {
                        total: 1,
                        items: [
                          {
                            "code": "ALPMAC----------------FNL-",
                            "description": "Men's Alpine Combined",
                            "type": {
                              "code": "0",
                              "description": "Technical Meeting"
                            },
                            "games": {
                              "code": "OWG2018",
                              "description": "Pyongyang 2018 Olympics Winter Games"
                            },
                            "discipline": {
                              "code": "ALP",
                              "description": "Alpine Skiing"
                            },
                            "event": {
                              "code": "ALPWDH------09110-----",
                              "description": "Women's Downhill, Standing",
                              "meta": {
                                "teamEvent": true
                              }
                            },
                            "gender": {
                              "code": "M",
                              "description": "Male"
                            },
                            "links": [{
                                "rel": "self",
                                "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA----------------------------"
                              },
                              {
                                "rel": "phase-results",
                                "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA----------------------------/results"
                              },
                              {
                                "rel": "phase-standings",
                                "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA----------------------------/standings"
                              },
                              {
                                "rel": "event",
                                "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------"
                              },
                              {
                                "rel": "event-results",
                                "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/results"
                              },
                              {
                                "rel": "event-standings",
                                "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/brackets"
                              }
                            ]
                          }
                        ]
                      }       

  /games/{games}/phase/{phase}:
    get:
      tags:
        - Phase
      description: Returns the detail of a Phase for a games.
      operationId: getPhaseByCode
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: phase
      responses:
        200:
          description: Phase Detail
          schema:
            example: {
                      "code": "ALPMAC----------------FNL-",
                      "description": "Men's Alpine Combined",
                      "type": {
                        "code": "0",
                        "description": "Technical Meeting"
                      },
                      "games": {
                        "code": "OWG2018",
                        "description": "Pyongyang 2018 Olympics Winter Games"
                      },
                      "discipline": {
                        "code": "ALP",
                        "description": "Alpine Skiing"
                      },
                      "event": {
                        "code": "ALPWDH------09110-----",
                        "description": "Women's Downhill, Standing",
                        "meta": {
                          "teamEvent": true
                        }
                      },
                      "gender": {
                        "code": "M",
                        "description": "Male"
                      },          
                      "links": [
                        {
                          "rel": "self",
                          "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA----------------------------"
                        },
                        {
                          "rel": "phase-results",
                          "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA----------------------------/results"
                        },
                        {
                          "rel": "phase-standings",
                          "href": "http://olympics.api.press.net/v3/games/OWG2018/phase/SBDMBA----------------------------/standings"
                        },
                        {
                          "rel": "event",
                          "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------"
                        },
                        {
                          "rel": "event-results",
                          "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/results"
                        },
                        {
                          "rel": "event-standings",
                          "href": "http://olympics.api.press.net/v3/games/OWG2018/event/SBDMBA----------------------------/brackets"
                        }
                      ]
                    } 

  /games/{games}/phase/{phase}/results:
    get:
      tags:
        - Phase
      description: Returns the Phase for a Event.
      operationId: getPhaseResults
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: phase
      responses:
        200:
          description: Event Phase Result Detail
          schema:
            example: {
                        "code": "ALPMAC----------------FNL-",
                        "description": "Men's Alpine Combined",
                        "type": {
                          "code": "0",
                          "description": "Technical Meeting"
                        },
                        "games": {
                          "code": "OWG2018",
                          "description": "Pyongyang 2018 Olympics Winter Games"
                        },
                        "discipline": {
                          "code": "ALP",
                          "description": "Alpine Skiing"
                        },
                        "event": {
                          "code": "ALPWDH------09110-----",
                          "description": "Women's Downhill, Standing",
                          "meta": {
                            "teamEvent": true
                          }
                        },
                        "gender": {
                          "code": "M",
                          "description": "Male"
                        },
                        "results": [{
                          "rank": 1,
                          "value": "50.53",
                          "valueType": "TIME",
                          "sortOrder": 1,
                          "startOrder": 1,
                          "startSortOrder": 1,
                          "diff": "0.00",
                          "invalidResultMark": {
                            "code": "DSQ",
                            "description": "Disqualified"
                          },
                          "qualificationMark": {
                            "code": "QT",
                            "description": "Qualified by Time"
                          },
                          "wonLostTied": {
                            "code": "T",
                            "description": "Team / Athlete tied"
                          },
                          "meta": {
                            "won": 1,
                            "lost": 3,
                            "tied": 2,
                            "played": 6,
                            "for": 21,
                            "against": 12,
                            "ratio": 2,
                            "unchecked": true,
                            "rankEqual": ""
                          },
                          "competitor": {
                            "code": "BOBOTEAM4------USA01",
                            "type": "T",
                            "bib": "12",
                            "organisation": {
                              "code": "USA",
                              "description": "USA"
                            },
                            "team": {
                              "name": "USA"
                            },
                            "athlete": {
                              "givenName": "",
                              "familyName": "",
                              "dob": "",
                              "meta": {
                                "class": "",
                                "horse": ""
                              },
                              "guide": {
                                "id": "",
                                "familyName": "",
                                "givenName": ""
                              },
                              "gender": {
                                "code": "M",
                                "description": "Male"
                              },
                              "organisation": {
                                "code": "USA",
                                "description": "USA"
                              }
                            }
                          }
                        }]
                      } 

  /games/{games}/phase/{phase}/standings:
    get:
      tags:
        - Phase
      description: Returns the Standings for a Phase.
      operationId: getPhaseStandings
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: phase
      responses:
        200:
          description: Event Phase standing Detail
          schema:
            example: {
                        "code": "ALPMAC----------------FNL-",
                        "description": "Men's Alpine Combined",
                        "type": {
                          "code": "0",
                          "description": "Technical Meeting"
                        },
                        "games": {
                          "code": "OWG2018",
                          "description": "Pyongyang 2018 Olympics Winter Games"
                        },
                        "discipline": {
                          "code": "ALP",
                          "description": "Alpine Skiing"
                        },
                        "event": {
                          "code": "ALPWDH------09110-----",
                          "description": "Women's Downhill, Standing",
                          "meta": {
                            "teamEvent": true
                          }
                        },
                        "gender": {
                          "code": "M",
                          "description": "Male"
                        },
                        "standings": [{
                          "rank": 1,
                          "value": "50.53",
                          "valueType": "TIME",
                          "sortOrder": 1,
                          "startOrder": 1,
                          "startSortOrder": 1,
                          "diff": "0.00",
                          "invalidResultMark": {
                            "code": "DSQ",
                            "description": "Disqualified"
                          },
                          "qualificationMark": {
                            "code": "QT",
                            "description": "Qualified by Time"
                          },
                          "wonLostTied": {
                            "code": "T",
                            "description": "Team / Athlete tied"
                          },
                          "meta": {
                            "won": 1,
                            "lost": 3,
                            "tied": 2,
                            "played": 6,
                            "for": 21,
                            "against": 12,
                            "ratio": 2,
                            "unchecked": true,
                            "rankEqual": ""
                          },
                          "competitor": {
                            "code": "BOBOTEAM4------USA01",
                            "type": "T",
                            "bib": "12",
                            "organisation": {
                              "code": "USA",
                              "description": "USA"
                            },
                            "team": {
                              "name": "USA"
                            },
                            "athlete": {
                              "givenName": "",
                              "familyName": "",
                              "dob": "",
                              "meta": {
                                "class": "",
                                "horse": ""
                              },
                              "guide": {
                                "id": "",
                                "familyName": "",
                                "givenName": ""
                              },
                              "gender": {
                                "code": "M",
                                "description": "Male"
                              },
                              "organisation": {
                                "code": "USA",
                                "description": "USA"
                              }
                            }
                          }
                        }]
                      }

  #
  # Medal Table Collections
  # 

  /games/{games}/medal-table:
    get:
      tags:
        - Medal Table
      description: Returns a Medal Table
      operationId: getMedalTable
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: discipline
          in: query
          required: false
        - $ref: '#/parameters/code'
          name: organisation
          in: query
          required: false          
        - $ref: '#/parameters/code'
          name: event
          in: query
          required: false 
        - $ref: '#/parameters/gender'
        - $ref: '#/parameters/baseDate'
          name: start          
        - $ref: '#/parameters/baseDate'
          name: end
        - $ref: '#/parameters/limit'
          name: limit
      responses:
        200:
          description: Medal Table
          schema:
            example: {
                      "total": 3,
                      "items": [
                        {
                          "rank": 1,
                          "medals": {
                            "gold": 3,
                            "silver": 4,
                            "bronze": 2,
                            "total": 9
                          },
                          "organisation": {
                            "code": "USA",
                            "description": "USA"
                          }
                        },
                        {
                          "rank": 2,
                          "medals": {
                            "gold": 2,
                            "silver": 4,
                            "bronze": 2,
                            "total": 8
                          },
                          "organisation": {
                            "code": "GBR",
                            "description": "Great Britain"
                          }
                        },
                        {
                          "rank": 3,
                          "medals": {
                            "gold": 1,
                            "silver": 4,
                            "bronze": 2,
                            "total": 7
                          },
                          "organisation": {
                            "code": "CHN",
                            "description": "China"
                          }
                        }                        
                      ]
                    } 

  #
  # Participant Collections
  # 

  /games/{games}/participant:
    get:
      tags:
        - Participant
      description: Returns a Participant Collection
      operationId: listParticipant
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: discipline
          in: query
          required: false
        - $ref: '#/parameters/code'
          name: organisation
          in: query
          required: false    
        - $ref: '#/parameters/code'
          name: event
          in: query
          required: false 
      responses:
        200:
          description: Participant Collection
          schema:
            example: {
                        total: 1,
                        items: [{
                          "code": "7810265",
                          "dob": "1971-12-28",
                          "familyName": "Cecon",
                          "givenName": "Roberto",
                          "status": "ACTIVE",
                          "current": true,
                          "height": "0",
                          "placeofBirth": "GEMONA DEL FRIULI",
                          "gender": {
                            "code": "M",
                            "description": "Male"
                          },
                          "organisation": {
                            "code": "ITA",
                            "description": "Italy"
                          },
                          "nationality": {
                            "code": "ITA",
                            "description": "Italy"
                          },
                          "countryofBirth": {
                            "code": "ITA",
                            "description": "Italy"
                          }
                        }]
                      }

  /games/{games}/participant/{participant}:
    get:
      tags:
        - Participant
      description: Returns the Details for a participant.
      operationId: getParticipant
      parameters:
        - $ref: '#/parameters/code'
          name: participant
        - $ref: '#/parameters/code'
          name: games
      responses:
        200:
          description: Participant Detail
          schema:
            example: {
                        "code": "7810265",
                        "dob": "1971-12-28",
                        "familyName": "Cecon",
                        "givenName": "Roberto",
                        "status": "ACTIVE",
                        "current": true,
                        "height": "0",
                        "placeofBirth": "GEMONA DEL FRIULI",
                        "gender": {
                          "code": "M",
                          "description": "Male"
                        },
                        "organisation": {
                          "code": "ITA",
                          "description": "Italy"
                        },
                        "nationality": {
                          "code": "ITA",
                          "description": "Italy"
                        },
                        "countryofBirth":{
                          "code": "ITA",
                          "description": "Italy"
                        }
                      } 

  #
  # Venue Resource
  # 
            
  /games/{games}/venue:
    get:
      tags:
        - Venue
      description: Returns a list of venue for a games.
      operationId: listVenuesByGames
      parameters:
        - $ref: '#/parameters/code'
          name: games
      responses:
        200:
          description: Venue Collection
          schema:
            example: {
                        total: 1,
                        items: [{
                          "code": "ABT",
                          "description": "Alpensia Biathlon Centre",
                          "meta": {
                            "competition": true
                          }
                        }]
                      }         

  /games/{games}/venue/{venue}:
    get:
      tags:
        - Venue
      description: Returns the detail of a venue for a games.
      operationId: listVenuesByGames
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: venue
      responses:
        200:
          description: Venue Detail
          schema:
            example: {
                      "code": "ABT",
                      "description": "Alpensia Biathlon Centre",
                      "meta": {
                          "competition": true
                      }
                    }

  #
  # Medal Collections
  # 

  /games/{games}/medal:
    get:
      tags:
        - Medal
      description: NOT TO BE IMPLEMENTED IN PHASE 1, Returns a Medal Collection
      operationId: listMedals
      parameters:
        - $ref: '#/parameters/code'
          name: games
        - $ref: '#/parameters/code'
          name: discipline
          in: query
          required: false
        - $ref: '#/parameters/code'
          name: organisation
          in: query
          required: false          
        - $ref: '#/parameters/code'
          name: event
          in: query
          required: false 
        - $ref: '#/parameters/gender'
        - $ref: '#/parameters/baseDate'
          name: start          
        - $ref: '#/parameters/baseDate'
          name: end
      responses:
        200:
          description: Medal Collection
          schema:
            example: {}  

parameters:

  code:
    name: code
    in: path
    description: Code of query entity
    required: true
    type: string

  status:
    name: status
    in: query
    description: The status of a unit
    required: false
    type: string

  type:
    name: type
    in: query
    description: The type of a unit
    required: false
    type: string
    
  gender:
    name: gender
    in: query
    description: The gender of a unit
    required: false
    type: string

  limit:
    name: limit
    in: query
    required: false
    type: integer
    format: int32
    default: 100
    x-example: 5
    description: >-
      Limit the the number of items to be returned per page.
      The 'limit' parameter is typically used with the 'offset' parameter to facilitate pagination.    
    
  baseDate:
    name: baseDate
    in: query
    required: false
    type: string
    format: 'date-time'
    x-example: 2014-04-17
    description: >-
      Limit the entities to ones within the specified range.
      The 'end' parameter is typically used in combination with the 'start' param to form a date range.

      Formats Supported:
        - 'YYYY-MM-DD'
        - 'YYYY-MM-DD[T]HH:mm:ssZ'
        - 'YYYY-MM-DD[T]HH:mm:ss.SSSZ'
        - 'YYYY-MM-DD[T]HH:mm:ss'
        - 'YYYY-MM-DD[T]HH:mm'
        - 'now'
        - 'today'
        - 'tomorrow'
        - 'now.plus.n'
        - 'now.minus.n'